* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.timer {
  background-color: rgb(192, 241, 233);
  padding: 30px 40px;
  margin-top: 40px;
  border: 2px solid #cccccc;
}

/* body {
  text-align: center;
} */

input {
  border-radius: 10;
  max-width: 320px;
  min-height: 40px;
  margin-right: 20px;
}
button {
  min-height: 30px;
  min-width: 70px;
}
.flatpickr-input {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.timer {
  display: flex;
  justify-content: center;
}

.field {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100px;
  padding: 10px 0 10px 0;
  margin-right: 20px;
  border: 1px solid #cccccc;
  border-radius: 13px;
}

.field:last-child {
  margin-right: 0;
}
.value {
  font-weight: 500;
  font-size: 40px;
}
